{{> lovedChamps}}
<br>
{{> hatedChamps}}
<br>

<h2>List of my most suggested League Champions</h2>
{{#if listExists}}
    <p>hola</p>
    <ul>
        {{#each suggestedChamps}}
            <li class={{this.lane}}>{{this.name}}</li>
        {{/each}}
    </ul>
{{/if}}